html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  outline: none; }

button {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**

* Zmienne.
*/
html {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

span, p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  line-height: 1.25; }

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }
  .app .app__page {
    width: calc(100% - 12rem);
    background: #fafafa;
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1; }

.sidebar {
  width: 12rem;
  background: #fafafa;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  position: relative; }
  .sidebar .sidebar__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5rem 0; }

@-webkit-keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

@keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

.sidebar-logo .sidebar-logo__text {
  font-family: 'Leckerli One', cursive;
  font-size: 2.25rem;
  color: rgba(156, 39, 176, 0.3);
  position: relative;
  display: inline-block; }
  .sidebar-logo .sidebar-logo__text::after {
    content: attr(data-text);
    color: #9c27b0;
    position: absolute;
    left: -.25rem;
    top: -.25rem;
    text-shadow: -0.1rem -0.1rem #fafafa; }
  .sidebar-logo .sidebar-logo__text::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 37.5%, #fafafa 37.5%, #fafafa 62.5%, transparent 62.5%, transparent 87.5%, #fafafa 87.5%);
    background: -o-linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 37.5%, #fafafa 37.5%, #fafafa 62.5%, transparent 62.5%, transparent 87.5%, #fafafa 87.5%);
    background: linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 37.5%, #fafafa 37.5%, #fafafa 62.5%, transparent 62.5%, transparent 87.5%, #fafafa 87.5%);
    background-size: .5rem .5rem;
    -webkit-animation: dash-logo-animation 7s infinite linear;
            animation: dash-logo-animation 7s infinite linear; }

.sidebar-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem; }
  .sidebar-user .sidebar-user__avatar-wrapper {
    position: relative;
    width: 6rem;
    height: 6rem; }
    .sidebar-user .sidebar-user__avatar-wrapper:hover .sidebar-user__overlay {
      opacity: 1; }
    .sidebar-user .sidebar-user__avatar-wrapper:hover .sidebar-user__icon {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
  .sidebar-user .sidebar-user__avatar {
    border-radius: 50%;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    max-width: 100%; }
  .sidebar-user .sidebar-user__overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(156, 39, 176, 0.5);
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .sidebar-user .sidebar-user__icon {
    color: #fff;
    font-size: 2rem;
    -webkit-transform: scale(5);
        -ms-transform: scale(5);
            transform: scale(5);
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transform: 0.2s;
        -ms-transform: 0.2s;
            transform: 0.2s; }
  .sidebar-user .sidebar-user__name-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: .75rem; }
  .sidebar-user .sidebar-user__name {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .sidebar-user .sidebar-user__name:hover, .sidebar-user .sidebar-user__name:focus {
      color: #9c27b0; }
  .sidebar-user .sidebar-user__status {
    font-size: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgba(0, 0, 0, 0.38); }
    .sidebar-user .sidebar-user__status::after {
      content: '';
      margin-left: .25rem;
      width: .4rem;
      height: .4rem;
      background: rgba(0, 0, 0, 0.38);
      border-radius: 50%; }
    .sidebar-user .sidebar-user__status.sidebar-user__status--online {
      color: green; }
      .sidebar-user .sidebar-user__status.sidebar-user__status--online::after {
        background: #8BC34A; }
  .sidebar-user.sidebar-user--slim {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .sidebar-user.sidebar-user--slim .sidebar-user__avatar-wrapper {
      width: 2rem;
      height: 2rem; }
    .sidebar-user.sidebar-user--slim .sidebar-user__name-wrapper {
      margin-top: .25rem;
      margin-left: .5rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .sidebar-user.sidebar-user--slim .sidebar-user__name {
      font-weight: 400; }
    .sidebar-user.sidebar-user--slim .sidebar-user__status {
      margin: 0;
      position: relative; }
      .sidebar-user.sidebar-user--slim .sidebar-user__status::after {
        position: absolute;
        left: -1rem;
        margin-left: 0;
        border: 1px solid #fafafa;
        bottom: 0; }
    .sidebar-user.sidebar-user--slim .sidebar-user__icon {
      font-size: 1rem; }

.sidebar-nav {
  width: 100%; }
  .sidebar-nav .sidebar-nav__header {
    padding: .5rem 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.38); }
  .sidebar-nav .sidebar-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9rem;
    padding: 0 1rem;
    height: 2.5rem;
    position: relative; }
    .sidebar-nav .sidebar-nav__item:hover, .sidebar-nav .sidebar-nav__item:focus {
      outline: none; }
      .sidebar-nav .sidebar-nav__item:hover .sidebar-nav__icon,
      .sidebar-nav .sidebar-nav__item:hover .sidebar-nav__title, .sidebar-nav .sidebar-nav__item:focus .sidebar-nav__icon,
      .sidebar-nav .sidebar-nav__item:focus .sidebar-nav__title {
        color: #9c27b0; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--primary::before {
      content: '';
      width: 100%;
      height: 100%;
      background: #9c27b0;
      position: absolute;
      z-index: 0;
      left: 100%;
      top: 0;
      opacity: 0; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--primary:hover::before, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--primary:focus::before {
      left: 0;
      opacity: 1;
      width: .2rem;
      -webkit-transition: left .1s, width .15s .1s, opacity 2s;
      -o-transition: left .1s, width .15s .1s, opacity 2s;
      transition: left .1s, width .15s .1s, opacity 2s; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary .sidebar-nav__icon-wrapper::after {
      content: 'arrow_forward';
      font-family: 'Material Icons';
      font-size: 1.25rem;
      color: rgba(0, 0, 0, 0.54);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translate(100%);
          -ms-transform: translate(100%);
              transform: translate(100%);
      opacity: 0;
      -webkit-transition-property: color, opacity, -webkit-transform;
      transition-property: color, opacity, -webkit-transform;
      -o-transition-property: color, transform, opacity;
      transition-property: color, transform, opacity;
      transition-property: color, transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:hover .sidebar-nav__icon-wrapper::after, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:focus .sidebar-nav__icon-wrapper::after {
      color: #f8a01c;
      -webkit-transform: translate(0);
          -ms-transform: translate(0);
              transform: translate(0);
      opacity: 1; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:hover .sidebar-nav__icon, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:focus .sidebar-nav__icon {
      color: #f8a01c;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0; }
    .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:hover .sidebar-nav__title, .sidebar-nav .sidebar-nav__item.sidebar-nav__item--secondary:focus .sidebar-nav__title {
      color: #f8a01c; }
  .sidebar-nav .sidebar-nav__icon-wrapper {
    position: relative;
    margin-right: 1rem;
    width: 1.5rem; }
    .sidebar-nav .sidebar-nav__icon-wrapper .sidebar-nav__icon {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.54);
      -webkit-transition-property: color, opacity, -webkit-transform;
      transition-property: color, opacity, -webkit-transform;
      -o-transition-property: color, transform, opacity;
      transition-property: color, transform, opacity;
      transition-property: color, transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s; }
    .sidebar-nav .sidebar-nav__icon-wrapper .sidebar-nav__title {
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }

.sidebar-toggler__checkbox {
  position: absolute;
  z-index: -10; }
  .sidebar-toggler__checkbox:checked + .sidebar {
    width: 3.5rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler {
      width: 100%;
      height: 3rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler__icon::before {
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler__icon::after {
      -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
              transform: rotate(-30deg); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-logo__wrapper {
      height: 0;
      overflow: hidden;
      display: block; }

.sidebar-toggler {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer; }
  .sidebar-toggler:hover .sidebar-toggler__icon::before, .sidebar-toggler:hover .sidebar-toggler__icon::after {
    background: #9c27b0; }
  .sidebar-toggler .sidebar-toggler__icon {
    width: .75rem;
    height: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .sidebar-toggler .sidebar-toggler__icon::before, .sidebar-toggler .sidebar-toggler__icon::after {
      content: '';
      position: absolute;
      width: .75rem;
      height: .15rem;
      background: #e0e0e0; }
    .sidebar-toggler .sidebar-toggler__icon::before {
      top: 0;
      -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
              transform: rotate(-30deg); }
    .sidebar-toggler .sidebar-toggler__icon::after {
      bottom: 0;
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }

.navbar {
  background: red;
  height: 3.5rem;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbar .navbar__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%; }
  .navbar .navbar__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem;
    height: 100%; }

.navbar-search__input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  left: 50%;
  top: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0 2rem;
  color: #9c27b0;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #9c27b0;
  border-radius: 2rem;
  -webkit-transition-property: width, top, opacity;
  -o-transition-property: width, top, opacity;
  transition-property: width, top, opacity;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .navbar-search__input:focus {
    width: calc(100% - 26rem);
    top: 5rem;
    opacity: 1;
    outline: none; }
    .navbar-search__input:focus + .app {
      -webkit-transform: perspective(70rem) rotateX(30deg);
              transform: perspective(70rem) rotateX(30deg); }

.navbar-search {
  height: 2rem;
  width: 2rem;
  position: relative; }
  .navbar-search .navbar-search__label-icon {
    display: block;
    width: inherit;
    height: inherit;
    cursor: pointer;
    padding: 1.5rem;
    overflow: hidden;
    margin: -.5rem; }
    .navbar-search .navbar-search__label-icon:hover .navbar-search__icon {
      color: #9c27b0;
      text-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
      font-size: calc(2rem + 50%); }
    .navbar-search .navbar-search__label-icon:hover .navbar-search__slogan {
      color: #9c27b0;
      text-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
      left: 2.5rem;
      opacity: 1; }
  .navbar-search .navbar-search__icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 2rem;
    line-height: 1.25;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition-property: color, text-shadow, font-size;
    -o-transition-property: color, text-shadow, font-size;
    transition-property: color, text-shadow, font-size;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .navbar-search .navbar-search__slogan {
    color: rgba(0, 0, 0, 0.54);
    line-height: 1.25;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
    -webkit-transition-property: color, text-shadow, opacity, left;
    -o-transition-property: color, text-shadow, opacity, left;
    transition-property: color, text-shadow, opacity, left;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }

.navbar-lang-switcher {
  position: relative;
  height: 100%; }
  .navbar-lang-switcher:hover .navbar-lang-switcher__country-wrapper {
    height: 3rem;
    opacity: 1; }
  .navbar-lang-switcher .navbar-lang-switcher__flag-list {
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: -1rem; }
  .navbar-lang-switcher .navbar-lang-switcher__country-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    opacity: 0;
    -webkit-transition-property: height, opacity, -webkit-box-shadow;
    transition-property: height, opacity, -webkit-box-shadow;
    -o-transition-property: height, opacity, box-shadow;
    transition-property: height, opacity, box-shadow;
    transition-property: height, opacity, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
    .navbar-lang-switcher .navbar-lang-switcher__country-wrapper:not(.navbar-lang-switcher__country-wrapper--active) {
      padding: 0 1rem; }
      .navbar-lang-switcher .navbar-lang-switcher__country-wrapper:not(.navbar-lang-switcher__country-wrapper--active):hover, .navbar-lang-switcher .navbar-lang-switcher__country-wrapper:not(.navbar-lang-switcher__country-wrapper--active):focus {
        background: #f5f5f5;
        -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
                box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2); }
    .navbar-lang-switcher .navbar-lang-switcher__country-wrapper.navbar-lang-switcher__country-wrapper--active {
      height: 100%;
      opacity: 1; }
      .navbar-lang-switcher .navbar-lang-switcher__country-wrapper.navbar-lang-switcher__country-wrapper--active::after {
        content: 'keyboard_arrow_down';
        font-family: 'Material Icons';
        color: rgba(0, 0, 0, 0.54); }
  .navbar-lang-switcher .navbar-lang-switcher__flag {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden; }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--poland {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #ce1126));
      background: -webkit-linear-gradient(top, #fff 50%, #ce1126 50%);
      background: -o-linear-gradient(top, #fff 50%, #ce1126 50%);
      background: linear-gradient(to bottom, #fff 50%, #ce1126 50%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--italy {
      background: -webkit-gradient(linear, left top, right top, color-stop(33%, #009639), color-stop(33%, #fff), color-stop(66%, #fff), color-stop(66%, #ce1126));
      background: -webkit-linear-gradient(left, #009639 33%, #fff 33%, #fff 66%, #ce1126 66%);
      background: -o-linear-gradient(left, #009639 33%, #fff 33%, #fff 66%, #ce1126 66%);
      background: linear-gradient(to right, #009639 33%, #fff 33%, #fff 66%, #ce1126 66%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--greece {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #005eb8), color-stop(11%, #fff), color-stop(22%, #fff), color-stop(22%, #005eb8), color-stop(33%, #005eb8), color-stop(33%, #fff), color-stop(44%, #fff), color-stop(44%, #005eb8), color-stop(55%, #005eb8), color-stop(55%, #fff), color-stop(66%, #fff), color-stop(66%, #005eb8), color-stop(77%, #005eb8), color-stop(77%, #fff), color-stop(88%, #fff), color-stop(88%, #005eb8));
      background: -webkit-linear-gradient(top, #005eb8 11%, #fff 11%, #fff 22%, #005eb8 22%, #005eb8 33%, #fff 33%, #fff 44%, #005eb8 44%, #005eb8 55%, #fff 55%, #fff 66%, #005eb8 66%, #005eb8 77%, #fff 77%, #fff 88%, #005eb8 88%);
      background: -o-linear-gradient(top, #005eb8 11%, #fff 11%, #fff 22%, #005eb8 22%, #005eb8 33%, #fff 33%, #fff 44%, #005eb8 44%, #005eb8 55%, #fff 55%, #fff 66%, #005eb8 66%, #005eb8 77%, #fff 77%, #fff 88%, #005eb8 88%);
      background: linear-gradient(to bottom, #005eb8 11%, #fff 11%, #fff 22%, #005eb8 22%, #005eb8 33%, #fff 33%, #fff 44%, #005eb8 44%, #005eb8 55%, #fff 55%, #fff 66%, #005eb8 66%, #005eb8 77%, #fff 77%, #fff 88%, #005eb8 88%); }
      .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--greece::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 50%;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #fff), color-stop(60%, #fff), color-stop(60%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(40%, #005eb8), color-stop(40%, #fff), color-stop(60%, #fff), color-stop(60%, #005eb8));
        background: -webkit-linear-gradient(top, transparent 40%, #fff 40%, #fff 60%, transparent 60%), -webkit-linear-gradient(left, #005eb8 40%, #fff 40%, #fff 60%, #005eb8 60%);
        background: -o-linear-gradient(top, transparent 40%, #fff 40%, #fff 60%, transparent 60%), -o-linear-gradient(left, #005eb8 40%, #fff 40%, #fff 60%, #005eb8 60%);
        background: linear-gradient(to bottom, transparent 40%, #fff 40%, #fff 60%, transparent 60%), linear-gradient(to right, #005eb8 40%, #fff 40%, #fff 60%, #005eb8 60%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--czechrepublic {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #ce1126));
      background: -webkit-linear-gradient(top, #fff 50%, #ce1126 50%);
      background: -o-linear-gradient(top, #fff 50%, #ce1126 50%);
      background: linear-gradient(to bottom, #fff 50%, #ce1126 50%); }
      .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--czechrepublic::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: #005eb8;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
                clip-path: polygon(0 0, 0 100%, 100% 50%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--Seychelles {
      background: -webkit-linear-gradient(335deg, #005eb8 0%, #005eb8 28%, transparent 30%), -webkit-linear-gradient(320deg, #fed141 0%, #fed141 43%, transparent 45%), -webkit-linear-gradient(305deg, #ce1126 0%, #ce1126 58%, transparent 60%), -webkit-linear-gradient(290deg, #fff 0%, #fff 73%, transparent 75%), -webkit-linear-gradient(278deg, #009639 0%, #009639 90%);
      background: -o-linear-gradient(335deg, #005eb8 0%, #005eb8 28%, transparent 30%), -o-linear-gradient(320deg, #fed141 0%, #fed141 43%, transparent 45%), -o-linear-gradient(305deg, #ce1126 0%, #ce1126 58%, transparent 60%), -o-linear-gradient(290deg, #fff 0%, #fff 73%, transparent 75%), -o-linear-gradient(278deg, #009639 0%, #009639 90%);
      background: linear-gradient(115deg, #005eb8 0%, #005eb8 28%, transparent 30%), linear-gradient(130deg, #fed141 0%, #fed141 43%, transparent 45%), linear-gradient(145deg, #ce1126 0%, #ce1126 58%, transparent 60%), linear-gradient(160deg, #fff 0%, #fff 73%, transparent 75%), linear-gradient(172deg, #009639 0%, #009639 90%); }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--Grenadines {
      background: -webkit-gradient(linear, left top, right top, color-stop(25%, #005eb8), color-stop(25%, #fed141), color-stop(75%, #fed141), color-stop(75%, #009639));
      background: -webkit-linear-gradient(left, #005eb8 25%, #fed141 25%, #fed141 75%, #009639 75%);
      background: -o-linear-gradient(left, #005eb8 25%, #fed141 25%, #fed141 75%, #009639 75%);
      background: linear-gradient(to right, #005eb8 25%, #fed141 25%, #fed141 75%, #009639 75%); }
      .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--Grenadines::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scaleY(1.75) rotate(45deg);
            -ms-transform: translate(-50%, -50%) scaleY(1.75) rotate(45deg);
                transform: translate(-50%, -50%) scaleY(1.75) rotate(45deg);
        width: .2rem;
        height: .2rem;
        background: #009639;
        -webkit-box-shadow: -0.3rem 0 0 #009639, 0 -0.3rem 0 #009639;
                box-shadow: -0.3rem 0 0 #009639, 0 -0.3rem 0 #009639; }
    .navbar-lang-switcher .navbar-lang-switcher__flag.navbar-lang-switcher__flag--Maledives {
      background-color: #009639;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(16%, #ce1126), color-stop(16%, transparent), color-stop(84%, transparent), color-stop(84%, #ce1126)), -webkit-gradient(linear, left top, left bottom, color-stop(16%, #ce1126), color-stop(16%, transparent), color-stop(84%, transparent), color-stop(84%, #ce1126)), radial-gradient(circle at calc(50% + .3rem), #009639 0.35rem, transparent 0.4rem), radial-gradient(circle at calc(50% + .1rem), #fff 0.35rem, transparent 0.4rem);
      background-image: -webkit-linear-gradient(left, #ce1126 16%, transparent 16%, transparent 84%, #ce1126 84%), -webkit-linear-gradient(top, #ce1126 16%, transparent 16%, transparent 84%, #ce1126 84%), -webkit-radial-gradient(calc(50% + .3rem), circle, #009639 0.35rem, transparent 0.4rem), -webkit-radial-gradient(calc(50% + .1rem), circle, #fff 0.35rem, transparent 0.4rem);
      background-image: -o-linear-gradient(left, #ce1126 16%, transparent 16%, transparent 84%, #ce1126 84%), -o-linear-gradient(top, #ce1126 16%, transparent 16%, transparent 84%, #ce1126 84%), -o-radial-gradient(calc(50% + .3rem), circle, #009639 0.35rem, transparent 0.4rem), -o-radial-gradient(calc(50% + .1rem), circle, #fff 0.35rem, transparent 0.4rem);
      background-image: linear-gradient(to right, #ce1126 16%, transparent 16%, transparent 84%, #ce1126 84%), linear-gradient(to bottom, #ce1126 16%, transparent 16%, transparent 84%, #ce1126 84%), radial-gradient(circle at calc(50% + .3rem), #009639 0.35rem, transparent 0.4rem), radial-gradient(circle at calc(50% + .1rem), #fff 0.35rem, transparent 0.4rem); }
  .navbar-lang-switcher .navbar-lang-switcher__country-name {
    white-space: nowrap;
    margin-left: 0.5rem; }

.dashboard {
  background: green; }

/*# sourceMappingURL=styles.css.map */
