/**

* Zmienne.
*/

$primary: #9c27b0;
$secondary: #f8a01c;
$success: #8BC34A;

$dark: rgba(#000, .87);
$dark-secondary: rgba(#000, .54);
$dark-disabled: rgba(#000, .38);



$light: #fff;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-300: #e0e0e0;

$flag-white: $light;
$flag-red: #ce1126;
$flag-green: #009639;
$flag-blue: #005eb8;
$flag-yellow: #fed141;

$gradient-primary: linear-gradient(45deg, $primary 0, lighten($primary, 17%) 50%, $primary 100%);
$gradient-secondary: linear-gradient(45deg, $secondary 0, lighten($secondary, 15%) 75%, $secondary 100%);

$font-size-xxs: .625rem;
$font-size-xs: .75rem;
$font-size-sm: .9rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$shadow-10: 0 .25rem 1rem rgba(0, 0, 0, 0.15);
$shadow-20: 0 .75rem 1.25rem rgba(0, 0, 0, 0.2);
$shadow-primary: 0 .75rem 1.25rem rgba($primary, 0.2);
$shadow-secondary: 0 .75rem 1.25rem rgba($secondary, 0.2);

$transition-duration: .2s;

html {
    overflow-x: hidden;
}

body {
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 //font-family: 'Leckerli One', cursive;
}

span, p {
    color: $dark-secondary;
    font-size: $font-size-sm;
    line-height: 1.25;
}

.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    transition: transform $transition-duration;

    .app__page {
        width: calc(100% - 12rem);
        background: $grey-50;
        box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
        position: relative;
        z-index: 1;
    }
}
